<div class="jumbotron">
    <h1>Apartado jumbotron</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur elit ut ligula rutrum mollis. Morbi nibh lectus, pulvinar in nulla et, viverra luctus purus. In non velit sed enim pretium facilisis. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas. Quisque tincidunt rutrum mi. Duis vel scelerisque elit. Aliquam bibendum in felis nec pharetra. Mauris porta non sem nec porttitor. Nullam volutpat accumsan nibh, nec vestibulum mi interdum in.</p>
</div>