<section>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <p>
                        <img src="https://dummyimage.com/300x350/000/fff" alt="Celuco">
                    </p>
                    <h3 class="card-tittle">Celular</h3>
                    <p class="card-text">Especificaciones </p>
                    <p class="card-text">Especificaciones </p>
                    <p class="card-text">Especificaciones </p>
                    <p class="card-text">Especificaciones </p>
                    <p class="card-text">Especificaciones </p>
                    <p class="card-text">Especificaciones </p>
                </div>
            </div>
        </div>
    </div>
</section>